.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    &__list {
        background-color: white;
        border-radius: 4px;
        margin-top: 40px;
        box-shadow: 0 0 3px 0 #dee2e6;
    }
    &__des {
        width: 100%;
        margin: 20px 12px 4px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
    }
    &__all-btn {
        margin-right: 12px;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}
